In [18]:
from pandas_datareader import data as pdr
import yfinance as yf
import pandas as pd
from pykrx import stock
import oracledb
from datetime import datetime , timedelta
import exchange_calendars as ecals

yf.pdr_override()

In [19]:
market_list = ['KOSPI','KOSDAQ']
now = datetime.now()
today_date = now.strftime('%Y%m%d')
stock_list_df = pd.DataFrame()
for market_nm in market_list:
    stock_list = stock.get_market_ticker_list(today_date, market=market_nm)
    
    for stocks in stock_list:
        corp_name = stock.get_market_ticker_name(stocks)
        temp_df = pd.DataFrame({'ticker':stocks,
                        'corp_name':corp_name,
                        'marke': market_nm
                        }, index = [0])
        stock_list_df = pd.concat([stock_list_df,temp_df])
stock_list_df = stock_list_df.reset_index(drop = True)
stock_list_df

      ticker corp_name   marke
0     095570    AJ네트웍스   KOSPI
1     006840     AK홀딩스   KOSPI
2     027410       BGF   KOSPI
3     282330    BGF리테일   KOSPI
4     138930   BNK금융지주   KOSPI
...      ...       ...     ...
2648  024060      흥구석유  KOSDAQ
2649  010240        흥국  KOSDAQ
2650  189980    흥국에프엔비  KOSDAQ
2651  037440        희림  KOSDAQ
2652  238490        힘스  KOSDAQ

[2653 rows x 3 columns]

In [20]:
def get_stock_list(market_list):
    now = datetime.now()
    today_date = now.strftime('%Y%m%d')
    stock_list_df = pd.DataFrame()
    for market_nm in market_list:
        stock_list = stock.get_market_ticker_list(today_date, market=market_nm)
        
        for stocks in stock_list:
            corp_name = stock.get_market_ticker_name(stocks)
            temp_df = pd.DataFrame({'ticker':stocks,
                            'corp_name':corp_name,
                            'marke': market_nm
                            }, index = [0])
            stock_list_df = pd.concat([stock_list_df,temp_df])
    stock_list_df = stock_list_df.reset_index(drop = True)
    return stock_list_df

In [21]:
market_list = ['KOSPI','KOSDAQ']
#market_list = ['KOSPI']

stock_list_df = get_stock_list(market_list)
stock_list_df.count()

ticker       2653
corp_name    2653
marke        2653
dtype: int64

In [5]:
now = datetime.now()
today_date = now.strftime('%Y-%m-%d')
today_date

'2023-12-02'

In [37]:
import exchange_calendars as ecals

XKRX = ecals.get_calendar("XKRX") # 한국 코드
start = XKRX.previous_open(pd.Timestamp('2023-10-01'))
end = XKRX.previous_open(pd.Timestamp('2023-11-26'))
print(XKRX.previous_open(pd.Timestamp('2023-10-01')))
print(XKRX.previous_open(pd.Timestamp('2023-11-26')))

FormattedStart = start.strftime('%Y-%m-%d')
FormattedEnd = end.strftime('%Y-%m-%d')
print(FormattedStart)
print(FormattedEnd)

df = pdr.get_data_yahoo('290120.KQ', FormattedStart, FormattedEnd)
df

2023-09-27 00:00:00+00:00
2023-11-24 00:00:00+00:00
2023-09-27
2023-11-24
[*********************100%%**********************]  1 of 1 completed

              Open    High     Low   Close  Adj Close   Volume
Date
2023-09-27  2850.0  3090.0  2715.0  3050.0     3050.0   300620
2023-10-04  3050.0  3965.0  3050.0  3965.0     3965.0  1117280
2023-10-05  4700.0  5020.0  3700.0  4330.0     4330.0  5746447
2023-10-06  4330.0  4720.0  3970.0  4420.0     4420.0   822730
2023-10-10  4370.0  4450.0  3695.0  3900.0     3900.0   407064
2023-10-11  4000.0  4940.0  3900.0  4055.0     4055.0  2139738
2023-10-12  4185.0  4370.0  3845.0  4000.0     4000.0   580597
2023-10-13  3995.0  3995.0  3725.0  3855.0     3855.0   263776
2023-10-16  3855.0  3855.0  3155.0  3260.0     3260.0   574715
2023-10-17  3285.0  3400.0  3080.0  3080.0     3080.0   318238
2023-10-18  3110.0  3150.0  2800.0  2800.0     2800.0   219769
2023-10-19  2800.0  2800.0  2525.0  2590.0     2590.0   338816
2023-10-20  2625.0  3080.0  2610.0  2765.0     2765.0   411156
2023-10-23  2765.0  2795.0  2450.0  2575.0     2575.0   285536
2023-10-24  2700.0  2795.0  2480.0  2655.0     2655.0   126387
2023-10-25  2740.0  3325.0  2705.0  2830.0     2830.0  2017932
2023-10-26  2830.0  3110.0  2625.0  2845.0     2845.0   942349
2023-10-27  2780.0  3070.0  2705.0  2715.0     2715.0   745443
2023-10-30  2885.0  3310.0  2840.0  2990.0     2990.0  1062790
2023-10-31  3045.0  3250.0  2890.0  2945.0     2945.0   334047
2023-11-01  2940.0  3250.0  2810.0  3030.0     3030.0   333440
2023-11-02  3030.0  3115.0  2955.0  3040.0     3040.0   105739
2023-11-03  3110.0  3650.0  3060.0  3435.0     3435.0  1276049
2023-11-06  3440.0  3600.0  3220.0  3230.0     3230.0   391478
2023-11-07  3230.0  3545.0  3045.0  3105.0     3105.0   385147
2023-11-08  3235.0  3465.0  3140.0  3170.0     3170.0   263516
2023-11-09  3170.0  3205.0  2970.0  3170.0     3170.0   151081
2023-11-10  3170.0  4120.0  3080.0  4120.0     4120.0  1693131
2023-11-13  4500.0  4740.0  4005.0  4055.0     4055.0  1691749
2023-11-14  4055.0  4695.0  4055.0  4645.0     4645.0   830250
2023-11-15  4605.0  4810.0  4500.0  4750.0     4750.0   429000
2023-11-16  4740.0  4740.0  4250.0  4640.0     4640.0   261486
2023-11-17  4635.0  4690.0  4340.0  4600.0     4600.0   185774
2023-11-20  4520.0  4550.0  3900.0  4095.0     4095.0   564212
2023-11-21  4180.0  4520.0  3860.0  4255.0     4255.0   591441
2023-11-22  4240.0  4260.0  4000.0  4060.0     4060.0   189506
2023-11-23  4060.0  4150.0  3930.0  3960.0     3960.0   120771

In [22]:
import exchange_calendars as ecals

def Convert_To_Workday(date):
   shDate = date.strftime('%Y-%m-%d')
   XKRX = ecals.get_calendar("XKRX") # 한국 코드
   if not XKRX.is_session(shDate):
      shiftedDate = XKRX.previous_close(pd.Timestamp(date))
      shiftedWorkday = shiftedDate.strftime('%Y-%m-%d')
   else:
      shiftedWorkday = shDate
   
   return shiftedWorkday

In [38]:
start

Timestamp('2023-09-27 00:00:00+0000', tz='UTC')

In [23]:
start_dt = "2023-12-30"
MA_Start = datetime.strptime(start_dt, "%Y-%m-%d") - timedelta(days=200)

print(MA_Start)

2023-06-13 00:00:00

In [24]:

def preprocess_stock_dataframe(ticker, start_dt, end_dt):
    # 국장만 적용되도록 설정
    MA_Start = datetime.strptime(start_dt, "%Y-%m-%d") - timedelta(days=200)
    MA_End = datetime.strptime(end_dt, "%Y-%m-%d") + timedelta(days=1)
    df = pdr.get_data_yahoo(ticker, MA_Start, MA_End)
    
    # 60, 120 이평선 계산
    df['MA_60'] = df['Close'].rolling(60).mean().round()
    df['MA_120'] = df['Close'].rolling(120).mean().round()
    df['Close_max_60'] = df['Close'].rolling(60).max()
    
    #등락률 계산
    df['rate'] = round((df['Close'] - df['Close'].shift(1)) / df['Close'].shift(1) * 100, 2)
    #null값 쿼리로 null 문자로 처리
    df.fillna('NULL', inplace=True)
    
    return df

In [ ]:
def generate_insert_queries(df, ticker,start_dt):
    
    queries = []
    start_date = pd.to_datetime(start_dt)

    for index, row in df.iterrows():
        if index >= start_date:
            MARKET_date = index.strftime('%Y-%m-%d')
            values = ', '.join([f"'{ticker}'", f"TO_DATE('{MARKET_date}', 'YYYY-MM-DD')", str(row['Open']), 
                                str(row['Close']), str(row['High']), str(row['Low']), str(row['rate']), 
                                str(row['Volume']), str(row['MA_60']), str(row['MA_120'])])
            query = f"INSERT INTO DAILYMARKET (STOCK_KEY, MARKET_DT, OPEN_PRICE, CLOSE_PRICE, HIGH_PRICE, LOW_PRICE, DAILY_RATE, TRADING_VOLUME, MA_60, MA_120) VALUES ({values})"
            
            queries.append(query)

    return queries

In [26]:
test_row = stock_list_df.at[0, 'ticker']


test_df =  preprocess_stock_dataframe("%s.KS"%test_row,"2023-11-24","2023-11-30")
test_queries = generate_insert_queries(test_df, "%s.KS"%test_row,"2023-11-24" )

for query in test_queries:
    print(query)

[*********************100%%**********************]  1 of 1 completed
INSERT INTO DAILYMARKET (STOCK_KEY, MARKET_DT, OPEN_PRICE, CLOSE_PRICE, HIGH_PRICE, LOW_PRICE, DAILY_RATE, TRADING_VOLUME, MA_60, MA_120) VALUES ('095570.KS', TO_DATE('2023-11-24', 'YYYY-MM-DD'), 4180.0, 4155.0, 4180.0, 4100.0, -0.12, 60090, 4091.0, 4214.0)
INSERT INTO DAILYMARKET (STOCK_KEY, MARKET_DT, OPEN_PRICE, CLOSE_PRICE, HIGH_PRICE, LOW_PRICE, DAILY_RATE, TRADING_VOLUME, MA_60, MA_120) VALUES ('095570.KS', TO_DATE('2023-11-27', 'YYYY-MM-DD'), 4155.0, 4120.0, 4160.0, 4120.0, -0.84, 30105, 4092.0, 4212.0)
INSERT INTO DAILYMARKET (STOCK_KEY, MARKET_DT, OPEN_PRICE, CLOSE_PRICE, HIGH_PRICE, LOW_PRICE, DAILY_RATE, TRADING_VOLUME, MA_60, MA_120) VALUES ('095570.KS', TO_DATE('2023-11-28', 'YYYY-MM-DD'), 4100.0, 4150.0, 4155.0, 4100.0, 0.73, 43623, 4091.0, 4210.0)
INSERT INTO DAILYMARKET (STOCK_KEY, MARKET_DT, OPEN_PRICE, CLOSE_PRICE, HIGH_PRICE, LOW_PRICE, DAILY_RATE, TRADING_VOLUME, MA_60, MA_120) VALUES ('095570.KS', TO_DATE('2023-11-29', 'YYYY-MM-DD'), 4150.0, 4195.0, 4195.0, 4130.0, 1.08, 35369, 4092.0, 4208.0)
INSERT INTO DAILYMARKET (STOCK_KEY, MARKET_DT, OPEN_PRICE, CLOSE_PRICE, HIGH_PRICE, LOW_PRICE, DAILY_RATE, TRADING_VOLUME, MA_60, MA_120) VALUES ('095570.KS', TO_DATE('2023-11-30', 'YYYY-MM-DD'), 4200.0, 4320.0, 4345.0, 4170.0, 2.98, 226003, 4095.0, 4207.0)

In [31]:

un = 'admin'
cs = 'vt3iahxjk8x2w70v_high'
pw = 'Pluto123456789'
wallet_dir = 'C:\Oracle\Wallet_VT3IAHXJK8X2W70V'
now = datetime.now()

with oracledb.connect(user=un, password=pw, dsn=cs, config_dir=wallet_dir, wallet_location=wallet_dir,wallet_password=pw) as connection:

    with connection.cursor() as cursor:
        query = f"SELECT MARKET_DT FROM DAILYMARKET ORDER BY MARKET_DT DESC FETCH FIRST 1 ROW ONLY"
        cursor.execute(query)  
        result = cursor.fetchone()
        if result:
            latest_market_date = result[0]

            MigStart_dt = latest_market_date + timedelta(days=1)
            StartWorkday = Convert_To_Workday(MigStart_dt)
            EndWorkDay = Convert_To_Workday(now)
           # if(StartWorkday == EndWorkDay):
            
        #ticker	corp_name
            for index, row in stock_list_df.iterrows():
                key = row['ticker']
                name = row['corp_name']
                stock_type = row['marke']
                
                if(stock_type == 'KOSPI'):
                    ticker = key + '.KS'
                else:
                    ticker = key + '.KQ'
                
                stock_df = preprocess_stock_dataframe(ticker,StartWorkday,EndWorkDay)
                stock_queries = generate_insert_queries(stock_df, key, StartWorkday)
                
                
                for query in stock_queries:
                    cursor.execute(query)
                
    #connection.commit()
        
        
        # 기간 참고, Ticker  (4참고)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

KeyboardInterrupt: